@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*,
*::before,
*,::after {
  font-family: 'Anton', sans-serif;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: gray;
  text-align: center;
  user-select: none;
  background-image: url(../assets/images/5476306.jpg);
  background-size: stretch;
  background-repeat: no-repeat;
}

#grids {
  margin: 10px auto;
}

section#grid,
section#background-grid {
  display: grid;
  grid-template-columns: repeat(7, 7vmin);
  grid-template-rows: repeat(6, 7vmin);
  grid-gap: 1vmin;
  cursor: pointer;
}

section#hover-row {
  display: grid;
  grid-template-columns: repeat(1, 55vmin);
  grid-template-rows: repeat(6, 7vmin);
  grid-gap: 1vmin;
}

section#hover-column {
  display: grid;
  grid-template-columns: repeat(7, 7vmin);
  grid-template-rows: repeat(1, 47vmin);
  grid-gap: 1vmin;
}

div.gr,
div.bg-gr {
  background: rgba(0, 0, 0, 0);
  border-radius: 50%;
  vertical-align: middle;
}

div.bg-gr {
  border: 5px solid yellow;
}

section#background-grid,
section#hover-row,
section#hover-column {
  position: absolute;
  pointer-events: none;
  z-index: 1;
}

section#hover-row,
section#hover-column {
  z-index: 2;
}

h1 {
  background-color: black;
  color: yellow;
  font-size: 48px;
  padding: 10px;
  margin-top: 0;
}

#music-button,
#sfx-button {
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 100px;
  color: yellow;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

#music-button:hover,
#sfx-button:hover {
  background-color: rgba(0, 0, 0, 1);
}

h2 {
  font-size: 32px;
}

#score-board {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#score-board >
h3 {
  padding: 5px;
  border-radius: 100px;
  padding: 10px;
  font-size: 24px;
  color: whitesmoke;
}

#p1Sc {
  background-color: rgba(255, 0, 0, 0.8);
}
#p2Sc {
  background-color: rgba(0, 0, 0, 0.8);
}

#reset-btn {
  font-size: 24px;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  border: none;
  border-radius: 100px;
  padding: 10px;
  cursor: pointer;
}

#reset-btn:hover {
  border: solid 2px black;
}

.fall-1 {
  animation: fall-animation-row-1 0.2s ;
}

@keyframes fall-animation-row-1 {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.fall-2 {
  animation: fall-animation-row-2 0.2s ;
}

@keyframes fall-animation-row-2 {
  from {
    transform: translateY(-200%);
  }
  to {
    transform: translateY(0);
  }
}

.fall-3 {
  animation: fall-animation-row-3 0.2s ;
}

@keyframes fall-animation-row-3 {
  from {
    transform: translateY(-300%);
  }
  to {
    transform: translateY(0);
  }
}

.fall-4 {
  animation: fall-animation-row-4 0.2s ;
}

@keyframes fall-animation-row-4 {
  from {
    transform: translateY(-400%);
  }
  to {
    transform: translateY(0);
  }
}

.fall-5 {
  animation: fall-animation-row-5 0.2s ;
}

@keyframes fall-animation-row-5 {
  from {
    transform: translateY(-500%);
  }
  to {
    transform: translateY(0);
  }
}

.fall-6 {
  animation: fall-animation-row-6 0.2s ;
}

@keyframes fall-animation-row-6 {
  from {
    transform: translateY(-600%);
  }
  to {
    transform: translateY(0);
  }
}

.row-1-p1 {
  animation: highlight-row-p1 1s infinite;
}

.row-2-p1 {
  animation: highlight-row-p1 1s infinite;
}

.row-3-p1 {
  animation: highlight-row-p1 1s infinite;
}

.row-4-p1 {
  animation: highlight-row-p1 1s infinite;
}

.row-5-p1 {
  animation: highlight-row-p1 1s infinite;
}

.row-6-p1 {
  animation: highlight-row-p1 1s infinite;
}

@keyframes highlight-row-p1 {
  from {
    background-color: transparent;
    border-radius: 100px;
  }
  to {
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 100px;
  }
}

.row-1-p2 {
  animation: highlight-row-p2 1s infinite;
}
.row-2-p2 {
  animation: highlight-row-p2 1s infinite;
}
.row-3-p2 {
  animation: highlight-row-p2 1s infinite;
}
.row-4-p2 {
  animation: highlight-row-p2 1s infinite;
}
.row-5-p2 {
  animation: highlight-row-p2 1s infinite;
}
.row-6-p2 {
  animation: highlight-row-p2 1s infinite;
}

@keyframes highlight-row-p2 {
  from {
    background-color: transparent;
    border-radius: 100px;
  }
  to {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100px;
  }
}

.column-1-p1 {
  animation: highlight-column-p1 1s infinite;
}
.column-2-p1 {
  animation: highlight-column-p1 1s infinite;
}
.column-3-p1 {
  animation: highlight-column-p1 1s infinite;
}
.column-4-p1 {
  animation: highlight-column-p1 1s infinite;
}
.column-5-p1 {
  animation: highlight-column-p1 1s infinite;
}
.column-6-p1 {
  animation: highlight-column-p1 1s infinite;
}
.column-7-p1 {
  animation: highlight-column-p1 1s infinite;
}

@keyframes highlight-column-p1 {
  from {
    background-color: transparent;
    border-radius: 100px;
  }
  to {
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 100px;
  }
}

.column-1-p2 {
  animation: highlight-column-p2 1s infinite;
}
.column-2-p2 {
  animation: highlight-column-p2 1s infinite;
}
.column-3-p2 {
  animation: highlight-column-p2 1s infinite;
}
.column-4-p2 {
  animation: highlight-column-p2 1s infinite;
}
.column-5-p2 {
  animation: highlight-column-p2 1s infinite;
}
.column-6-p2 {
  animation: highlight-column-p2 1s infinite;
}
.column-7-p2 {
  animation: highlight-column-p2 1s infinite;
}

@keyframes highlight-column-p2 {
  from {
    background-color: transparent;
    border-radius: 100px;
  }
  to {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100px;
  }
}

@media (max-width: 418px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 26px;
  }
  #score-board > h3,
  #reset-btn {
    font-size: 20px;
  }
  section#grid,
  section#background-grid {
    grid-template-columns: repeat(7, 11vmin);
    grid-template-rows: repeat(6, 11vmin);
    grid-gap: 2vmin;
  }
  section#hover-row {
    grid-template-columns: repeat(1, 89vmin);
    grid-template-rows: repeat(6, 11vmin);
    grid-gap: 2vmin;
  }
  section#hover-column {
    grid-template-columns: repeat(7, 11vmin);
    grid-template-rows: repeat(1, 76vmin);
    grid-gap: 2vmin;
  }
.row-1-p1 {
  animation: highlight-row-p1 0s;
}
.row-2-p1 {
  animation: highlight-row-p1 0s;
}
.row-3-p1 {
  animation: highlight-row-p1 0s;
}
.row-4-p1 {
  animation: highlight-row-p1 0s;
}
.row-5-p1 {
  animation: highlight-row-p1 0s;
}
.row-6-p1 {
  animation: highlight-row-p1 0s;
}
.row-1-p2 {
  animation: highlight-row-p2 0s;
}
.row-2-p2 {
  animation: highlight-row-p2 0s;
}
.row-3-p2 {
  animation: highlight-row-p2 0s;
}
.row-4-p2 {
  animation: highlight-row-p2 0s;
}
.row-5-p2 {
  animation: highlight-row-p2 0s;
}
.row-6-p2 {
  animation: highlight-row-p2 0s;
}
.column-1-p1 {
  animation: highlight-column-p1 0s;
}
.column-2-p1 {
  animation: highlight-column-p1 0s;
}
.column-3-p1 {
  animation: highlight-column-p1 0s;
}
.column-4-p1 {
  animation: highlight-column-p1 0s;
}
.column-5-p1 {
  animation: highlight-column-p1 0s;
}
.column-6-p1 {
  animation: highlight-column-p1 0s;
}
.column-7-p1 {
  animation: highlight-column-p1 0s;
}
.column-1-p2 {
  animation: highlight-column-p2 0s;
}
.column-2-p2 {
  animation: highlight-column-p2 0s;
}
.column-3-p2 {
  animation: highlight-column-p2 0s;
}
.column-4-p2 {
  animation: highlight-column-p2 0s;
}
.column-5-p2 {
  animation: highlight-column-p2 0s;
}
.column-6-p2 {
  animation: highlight-column-p2 0s;
}
.column-7-p2 {
  animation: highlight-column-p2 0s;
}
}