body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: gray;
  text-align: center;
}

section#grid {
  display: grid;
  grid-template-columns: repeat(7, 10vmin);
  grid-template-rows: repeat(6, 10vmin);
  grid-gap: 0vmin;
}

div.gr {
  background: rgba(0, 0, 0, 0);
  border: 3px solid yellow;
  border-radius: 50%;
  vertical-align: middle;
}

h1, section#grid {
  margin: 10px auto;
}

#score-board {
  display: flex;
  justify-content: center;
  align-items: center;
}

#score-board >
h3 {
  padding: 5px;
  margin-left: 1px;
  margin-right: 1px;
  border: solid 1px black;
}

#reset-btn {
  margin: auto;
}